<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page EJS</title>
</head>

<body>
    <h1>this is the home page</h1>
    <h3> <%= 1* 2 %> </h3>
    <h3> <%= "ManojDhage".toUpperCase() %> </h3>
    <h3> <%= ["hello","manoj"][1] %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quam voluptates hic ipsam laudantium iusto
        velit aut possimus, minus, deleniti aspernatur modi quas maiores tenetur accusamus aperiam saepe sit fugiat
        beatae mollitia illum? Dicta aperiam quaerat corporis reprehenderit aut vitae. Nesciunt modi earum officiis,
        temporibus expedita debitis reprehenderit quidem ad.</p>
        <button>Click me</button>
</body>

</html>